body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #1DB954; 
    color: white; 
    padding: 20px;
    text-align: left;
    display: flex; 
    justify-content: space-between; 
}

header h1 {
    font-size: 36px;
}

.nav-buttons {
    display: flex; 
    margin-right:10vh;
}

.nav-buttons button {
    padding: 15px;
    margin-left:10px;
    background-color: #27cf62;
    color: white; 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
}

.nav-buttons button:hover{
    background-color: #1f9348;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li{
    padding: 3px;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


/* styles specific to home.html */
.homepage-left {
    margin-top: 10px;
    width: 50%;
    height: 100vh; 
    float: left; 
}

.homepage-left h1{
    color: rgb(64, 61, 61);
    font-size: 70px;
    padding-left: 30px;
    padding-top: 20px;
}

.homepage-left h2{
    color: rgb(97, 94, 94);
    padding-left: 30px;
    padding-top: 40px;
}

.homepage-right {
    margin-top: 10px;
    width: 50%; 
    height: 100vh; 
    float: right;
    text-align: center; 
  }
  
.homepage-right button {
    background-color: #1DB954;
    color: white; 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
    font-size: 40px; 
    width: 70%; 
    height: 70%;
    margin-top: 10px;
  }
  
.homepage-right button:hover {
    background-color: #1aab4d; 
}


/* styles specific to playlist_list.html */

.playlistdiv {
    display: flex; 
    align-items: center; 
    border: 2px solid rgb(192, 184, 184);
    border-radius: 25px;
    margin: 3px;
    height: auto;
    width: 60%;
}

.playlistdiv img {
    width: 70px;
    height: 70px;
    margin-right: 10px; 
    padding: 10px;
    border-radius: 25px;
}

.playlistdiv li{
    font-size: 32px;
}

.scroll-list-playlist{
    max-height: 500px;
    overflow-y: auto;
    border-radius: 25px;
    border: 1px solid rgb(192, 184, 184);
    padding:10px;
}


/* css specific to playlist.html */

.scroll-list{
    max-height: 100px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid rgb(192, 184, 184);
    display: inline-block;
    padding:10px;
    font-size: 20px;
}

.change-mood-text{
    float:left;
    width:33%;
    height: 100vh;
    padding-top: 8%;
}

.change-mood-text h1{
    font-size: 60px;
    text-align: center;
}

.change-mood-right {
    display: flex;
    justify-content: space-between;
}

.sliders-container {
    width: 50%;
    padding-left: 60px; 
}

.button-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    background-color: #1DB954;
    color: white; 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
    padding: 5px;
    margin-top: 10px;
    font-size: 30px; 
    width: 80%; 
    height: 80%;
}

#submit:hover {
    background-color: #1aab4d; 
}


/* css specific to recommendations.html */

#recommendations-header{
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}

#recommendations-subheader{
    margin-top: 5px;
    margin-left: 20px;
    text-align: center;
}


.recommendations-actions{
    padding: 15px;
    margin-left:10px;
    background-color: #27cf62;
    color: white; 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
}

.recommendations-actions:hover {
    background-color: #1aab4d; 
}


table {
    padding: 10px;
    height: auto;
    width: 80%;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    height: 70vh;
    overflow-y: auto; 
    border: 1px solid rgb(192, 184, 184);
}
  
td{
    border: 1px solid rgb(192, 184, 184); 
    padding: 5px;
    margin: 6px;
}

th{
    text-align: left;
    font-size: 20px;
    margin:2px;
}

#listen-button{
    padding: 7px;
    background-color: rgb(227, 218, 218); 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
}

#listen-button:hover{
    background-color: rgb(192, 184, 184); 
}

.button-container{
    text-align: center;
}

#checkbox-td{
    text-align: center;
}

#checkbox{
    padding: 5px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #27cf62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#deselect-all-btn{
    margin: 5px;
    padding: 10px;
    background-color: rgb(227, 218, 218); 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
}

#deselect-all-btn:hover{
    background-color: rgb(192, 184, 184); 
}

#select-all-btn{
    margin: 5px;
    padding: 10px;
    background-color: rgb(227, 218, 218); 
    border: none;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
}

#select-all-btn:hover{
    background-color: rgb(192, 184, 184); 
}