<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>Home</title>
 </head>
 <body>
  <header>
    <h1> BetterRecs. </h1>
  </header>
      <div class="homepage-left">
        <h1>Better Music Recommendations, Powered by Machine Learning.</h1>
        <h2>Connect to your Spotify acount, and get music recommendations tailored to your taste and your mood.<h2>
      </div>
      <div class="homepage-right">
        <button onclick="location.href='{{ url_for('view_playlists') }}'">Get Started</button>
      </div>
 </body>
</html>