<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>Logout</title>
 </head>
 <body>
  <header>
    <h1> BetterRecs. </h1>
  </header>
  <div class = "container">
    <h1> Logged out Succesfully </h1>
    <button onclick="location.href='{{ url_for('login') }}'" class = "login-button"> Home </button>
  </div>
 </body>
</html>