<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Home</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
 </head>
 <body>
    <header>
      <h1> BetterRecs. </h1>
    </header>
      <div class="container">
        <h1>{{pname}}</h1>
        {% if psongs is defined and psongs|length > 0 %}
        <h2>Songs in Playlist:</h2>
          <ul>
              {% for song in psongs%}
                <li>{{ song['track']['name'] }} - {{ song['track']['artists'][0]['name'] }}</li>
              {% endfor %}
          </ul>
      {% else %}
        <p>No songs found!</p>
      {% endif %}
      </div>

      <div class="container">
        <div class = "change-mood-text">
          <h1>Change</h1>
          <h1>The</h1>
          <h1 style = "color: #1DB954">Mood</h1>
        </div>
        <form action='/getRecommendations/{{id}}' method = "post">
          <p>Happiness </p>
          <input type="range" id="slider1" name="slider1" min="-1" max="1" step="0.01" value="0">

          <p>Danceability </p>
          <input type="range" id="slider2" name="slider2"  min="-1" max="1" step="0.01" value="0">

          <p>Energy </p>
          <input type="range" id="slider3" name="slider3"  min="-1" max="1" step="0.01" value="0">

          <p>Loudness </p>
          <input type="range" id="slider4" name="slider4" min="-1" max="1" step="0.01" value="0">

          <p>Tempo </p>
          <input type="range" id="slider5" name="slider5" min="-50" max="50" step="1" value="0" >
          <button id = "submit" type="submit">Generate Recommendations</button>
       </form>
  </div>
 </body>
</html>