<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Home</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
 </head>

  <body>
      <header>
        <h1> BetterRecs. </h1>
        <div class = "nav-buttons">
          <button onclick="location.href='{{ url_for('redirect_page') }}'">Home</button>
          <button onclick="location.href='{{ url_for('profile') }}'">Profile</button>
          <button onclick="location.href='{{ url_for('view_playlists') }}'">Back to Playlists</button>
          <button onclick="window.open('{{ url_for('logout') }}', '_blank')">Logout</button>
        </div>
      </header>
        <div class="container">
          <!-- loop through the playlist songs as received from flask and display in a list -->
          <h1>{{pname}}</h1>
          {% if psongs is defined and psongs|length > 0 %}
          <h2>Songs in Playlist:</h2>
          <div class = "scroll-list">
            <ul>
                {% for song in psongs%}
                  <li>{{ song['track']['name'] }} - {{ song['track']['artists'][0]['name'] }}</li>
                {% endfor %}
            </ul>
          </div>
        <!-- Error message for invalid playlist -->
        {% else %}
          <p>No songs found!</p>
        {% endif %}
        </div>

      <div class="container">
          <div class = "change-mood-text">
            <h1>Change</h1>
            <h1>The</h1>
            <h1 style = "color: #1DB954">Mood</h1>
          </div>
          <div class="change-mood-right">
            <div class="sliders-container">
              <button id="popupBtn">What do these change?</button>
              <div id="popup">
                <h2>Mood Variables</h2>
                <p>Happiness  -  The musical positiveness conveyed by a song. Songs with a higher/lower value are audibly happier/sadder.</p>
                <p>Danceability  -  A measure of how suitable the song is for dancing based on rhythym stability and beat strength.</p>
                <p>Energy  -  A measure of musical intensity, derived from the song. More energetic songs are typically fast and noisy.</p>
                <p>Loudness  -   Pure loudness of the audio, measured in decibels.</p>
                <p>Tempo  -  The tempo (speed) of the music, measured in beats per minute.</p>
                <p style = "color: #1DB954">Adjust to Your Liking!</p>
                <button id="closeBtn">Close</button>
              </div>
              <form action='/getRecommendations/{{id}}' method="post">
                <p>Happiness</p>
                <input type="range" id="slider1" name="slider1" min="-1" max="1" step="0.01" value="0">
          
                <p>Danceability</p>
                <input type="range" id="slider2" name="slider2" min="-1" max="1" step="0.01" value="0">
          
                <p>Energy</p>
                <input type="range" id="slider3" name="slider3" min="-1" max="1" step="0.01" value="0">
          
                <p>Loudness</p>
                <input type="range" id="slider4" name="slider4" min="-1" max="1" step="0.01" value="0">
          
                <p>Tempo</p>
                <input type="range" id="slider5" name="slider5" min="-50" max="50" step="1" value="0">
              
            </div>
            <div class="button-container">
              <button class="generate-btn" type="submit">Generate Song Recommendations</button>
            </form>
            </div>
          </div>
      </div>

    <div class="container">
      <div class = "events-div">
        <div class = "event-text-container">
          <h1>Events</h1>
          <h1>For</h1>
          <h1 style = "color: #1DB954">You</h1>
        </div>
        <div class = "event-button-container">
          <button class="generate-btn" onclick="location.href='{{ url_for('get_concerts_pg', id=id) }}'">Generate Concert Recommendations</button>
        </div>
      </div>
    </div>

    <script>
      // get the button and popup screen elements by id
      const popupBtn = document.getElementById('popupBtn');
      const popup = document.getElementById('popup');
      const closeBtn = document.getElementById('closeBtn');

      // function to display the popup div by changing its display element
      function showPopup() {
        popup.style.display = 'block';
      }
    
      // function to hide the popup by changing its display element
      function hidePopup() {
        popup.style.display = 'none';
      }
    
      // event listener for buttons to show/close popup
      popupBtn.addEventListener('click', showPopup);
      closeBtn.addEventListener('click', hidePopup);
    </script>
  </body>
</html>