<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Home</title>
 </head>
 <body>
    <header>
      <div class="container">
        <h1 >{{pname}}</h1>
        {% if psongs is defined and psongs|length > 0 %}
        <p>found songs:</p>
        <br/>
          <ol>
              {% for song in psongs%}
                <li>{{ song['track']['name'] }} - {{ song['track']['artists'][0]['name'] }}</li>
              {% endfor %}
          </ol>
      {% else %}
        <p>No songs found!</p>
      {% endif %}
      </div>
    </header>
    <div>
      <button> Generate Recomendations </button>
    </div>
    <p>Recommendations</p>
    <table>
      <tr>
          <th>Artist</th>
          <th>Song</th>
      </tr>
      {% for artist, song in recommendations_dict.items() %}
          <tr>
              <td>{{ artist }}</td>
              <td>{{ song }}</td>
          </tr>
      {% endfor %}
  </table>
 </body>
</html>