<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <meta charset="utf-8">
  <title>Profile</title>
 </head>
 <body>
  <header>
    <h1> BetterRecs. </h1>
    <div class = "nav-buttons">
      <button onclick="location.href='{{ url_for('redirect_page') }}'">Home</button>
      <button onclick="location.href='{{ url_for('profile') }}'">Profile</button>
      <button onclick="window.open('{{ url_for('logout') }}', '_blank')">Logout</button>
    </div>
  </header>

  <div class = "container">

    <h1 class = "profile-header"> Hello, {{ username }}!</h1>
    <h3 class = "profile-header"> Explore Your Listening Habits. </h3>

    <div class = "center-buttons">
      <button onclick="location.href='{{ url_for('profile') }}?time_range=short_term'">Last 4 Weeks</button>
      <button onclick="location.href='{{ url_for('profile') }}?time_range=medium_term'">Last 6 Months</button>
      <button onclick="location.href='{{ url_for('profile') }}?time_range=long_term'">Last Year</button>
    </div>
    <h3 class = "profile-header"> Currently Viewing: {{ time }}</h3>

    <div class = "stats-list">
    <h2> Your Top Artists <h2>
        <!-- loop through the top artists as received from flask and display in a list -->
        {% if artists_lt is defined and artists_lt|length > 0 %}
        <div class = "scroll-list-topartists">
          <ol>
              {% for (name,image) in artists_lt.items() %}
              <li>
                <div class = "artistdiv">
                    <img src="{{ image }}">
                    <h3>{{name}}</h3>
                </div>
              </li>
              {% endfor %}
          </ol>
        </div>
      {% else %}
        <p>No Data Found!</p>
      {% endif %}
    </div>

    <div class = "stats-list">
    <h2> Your Top Songs <h2>
        <!-- loop through the top songs as received from flask and display in a list -->
        {% if tracks_lt %}
        <div class="scroll-list-topartists">
          <ol>
            {% for name, track_name, image_url in tracks_lt %}
            <li>
              <div class="artistdiv">
                <img src="{{ image_url }}">
                <h3>{{ name }} - {{ track_name }}</h3>
              </div>
            </li>
              {% endfor %}
          </ol>
        </div>
      {% else %}
        <p>No Data Found!</p>
      {% endif %}
    </div>

    <div class = barchartDiv>
      <h2>{{ time }}: Top Tracks Audio Analysis</h2>
      <canvas id="barchart"></canvas>
    </div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // get the audio analysis dictionary and parse
        const audio_analysis = JSON.parse('{{ audio_analysis | tojson | safe }}');
        // get all the feature names and their values
        const features = Object.keys(audio_analysis);
        const values = Object.values(audio_analysis);

        // create a 2d chart.js barchart
        const ctx = document.getElementById('barchart').getContext('2d');
        const barchart = new Chart(ctx, {
            type: 'bar',
            data: {
              // set the feature names as the labels
                labels: features,
                datasets: [{
                  // set the feature values as the data
                    data: values,
                    backgroundColor: 'rgba(29, 185, 84)'
                }]
            },
            options: {
              scales: {
                  y: {
                      display: false, // hide the y axis
                      beginAtZero: true // the chart should start at 0
                  }
              },
              plugins: {
                  legend: {
                      display: false // hide the legend
                  }
              }
          }
      });
  });
  </script>
</body>
</html>