<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Recommendations</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="loading-screen" style="display: none;">
    <div id="loading-spinner"></div>
  </div>
  <header>
  <h1> BetterRecs. </h1>
  <div class = "nav-buttons">
    <button onclick="location.href='{{ url_for('redirect_page') }}'">Home</button>
    <button onclick="location.href='{{ url_for('profile') }}'">Profile</button>
    <button onclick="location.href='{{ url_for('view_playlists') }}'">Back to Playlists</button>
    <button onclick="window.open('{{ url_for('logout') }}', '_blank')">Logout</button>
  </div>
  </header>
  <div class="container">
    <h1 id = "recommendations-header">Your Recommendations</h1>
    <h3 id = "recommendations-subheader">Select some songs you like, and add them to a playlist, or regenerate more songs like them!</h3>
    <form id  ="playlist-form" method="post" action="/create_playlist">
    <button type="button" id="select-all-btn" class="recommendations-btn">Select All</button>
    <button type="button" id="deselect-all-btn" class="recommendations-btn">Deselect All</button>

      <div class="table-container">
        <table id = "recommendations-table">
          <tr>
            <th>Song Name</th>
            <th>Artist Name</th>
            <th>Listen</th>
            <th>Select</th>
          </tr>
          <!-- loop through the recommended songs and display -->
          {% for artist, song in recommendations_dict.items() %}
          {% set id = song_ids_list[loop.index0] %}
          <tr>
            <td>{{ artist }}</td>
            <td>{{ song }}</td>
            <td><button type="button" id = "listen-button" onclick="window.open('https://open.spotify.com/track/{{ id }}', '_blank')">Listen Here</button></td>
            <td id="checkbox-td"><input id ="checkbox" type="checkbox" name="song_ids[]" value="{{ id }}"></td>
          </tr>
          {% endfor %}
        </table>
    </div>
  </div>
  
  <div class="container">
    <button class="recommendations-actions" type="submit" name="add-to-playlist-btn">Add To Playlist</button>
    <button class="recommendations-actions" type="submit" name="regenerate-btn">Regenerate</button>
    <div id="message-container"></div>
  </div>
  </form>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    // Handling recommendation regeneraton with an asynchronous AJAX call
    $(document).ready(function() {
      $('.recommendations-actions').click(function(e) {
        // prevet default form action from executing
        e.preventDefault(); 
        // check with button was pressed
        var buttonName = $(this).attr('name');
        // show the loading screen while recommendations are regenerating
        if (buttonName === 'regenerate-btn') {
          $('#loading-screen').show();
        }
        // get playlist id and form data (selected songs and button name)
        var id = "{{ id }}";
        var formData = $('#playlist-form').serialize() + '&' + buttonName + '=1&id=' + id;
        // ajax post request to the create playlist route (which also contains regeneration)
        $.ajax({
          type: 'POST',
          url: '/create_playlist',
          data: formData,
          // show the response from playlist creation, if that was the button pressed
          success: function(response) {
            if (buttonName === 'add-to-playlist-btn') {
              $('#message-container').text(response); 
            }
            // if regeneration was requested
            else if (buttonName === 'regenerate-btn') {
              console.log("done")
              // hide the loading screen
              $('#loading-screen').hide();
              // capture response data
              var id = response.id;
              var recommendations_dict = response.recommendations_dict;
              var song_ids_list = response.song_ids_list;
              // show error if any data isnt defined
              if (id === undefined || recommendations_dict === undefined || song_ids_list === undefined) 
              {
                $('#message-container').text(response); 
                return;
              }
              // otherwise, update the table with new recommendations
              updateTable(recommendations_dict, song_ids_list);
            }
          },
          // handle error
          error: function(error) {
            console.error('Error:', error);
          }
        });
      });
    });

    // Update recommendations with response data
    function updateTable(recommendations_dict, song_ids_list) {
      // empty the table
      $('#recommendations-table').empty();
      // add the headers again
      $('#recommendations-table').append('<tr><th>Song Name</th><th>Artist Name</th><th>Listen</th><th>Select</th></tr>');
      // for each recommendation, create a new row and append it
      $.each(recommendations_dict, function(index, recommendation) {
        var artist = recommendation[0];
        var song = recommendation[1];
        var id = song_ids_list[index];
        var row = '<tr><td>' + artist + '</td><td>' + song + '</td><td><button type="button" id="listen-button" onclick="window.open(\'https://open.spotify.com/track/' + id + '\', \'_blank\')">Listen Here</button></td><td id="checkbox-td"><input id="checkbox" type="checkbox" name="song_ids[]" value="' + id + '"></td></tr>';
        $('#recommendations-table').append(row);
      });
    
      // reattach event listeners for select/deselect all buttons
      checkboxes = document.querySelectorAll('#checkbox');
      document.getElementById("select-all-btn").addEventListener("click", selectAll);
      document.getElementById("deselect-all-btn").addEventListener("click", deselectAll);
    }
    
    // capture all checkboxes
    var checkboxes = document.querySelectorAll('#checkbox');
    
    // select all checkboxes
    function selectAll() {
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = true;
      });
    }
    
    // deselect all checkboxes
    function deselectAll() {
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = false;
      });
    }
    
    // attach event listeners for select/deselct all buttons
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("select-all-btn").addEventListener("click", selectAll);
      document.getElementById("deselect-all-btn").addEventListener("click", deselectAll);
    });

 </script>
</body>
</html>