<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Recommendations</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="loading-screen" style="display: none;">
    <div id="loading-spinner"></div>
  </div>
  <header>
  <h1> BetterRecs. </h1>
  <div class = "nav-buttons">
    <button onclick="location.href='{{ url_for('redirect_page') }}'">Home</button>
    <button>About</button>
    <button onclick="window.open('{{ url_for('logout') }}', '_blank')">Logout</button>
  </div>
  </header>
  <div class="container">
    <h1 id = "recommendations-header">Your Recommendations</h1>
    <h3 id = "recommendations-subheader">Select Some songs you like, and add them to a playlist, or regenerate more songs like them!</h3>
    <form id  ="playlist-form" method="post" action="/create_playlist">
    <button type="button" id="select-all-btn">Select All</button>
    <button type="button" id="deselect-all-btn">Deselect All</button>

      <div class="table-container">
        <table id = "recommendations-table">
          <tr>
            <th>Artist Name</th>
            <th>Song Name</th>
            <th>Listen</th>
            <th>Select</th>
          </tr>
          {% for artist, song in recommendations_dict.items() %}
          {% set id = song_ids_list[loop.index0] %}
          <tr>
            <td>{{ artist }}</td>
            <td>{{ song }}</td>
            <td><button type="button" id = "listen-button" onclick="window.open('https://open.spotify.com/track/{{ id }}', '_blank')">Listen Here</button></td>
            <td id="checkbox-td"><input id ="checkbox" type="checkbox" name="song_ids[]" value="{{ id }}"></td>
          </tr>
          {% endfor %}
        </table>
    </div>
  </div>
  
  <div class = "container">
    <h1 id = "recommendations-header">Concerts For You</h1>
    <div class="table-container">
      <table id="events-table">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Venue</th>
            <th>Get Tickets</th>
          </tr>
        </thead>
        <tbody id="events-table-body">
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <button class="recommendations-actions" type="submit" name="add-to-playlist-btn">Add To Playlist</button>
    <button class="recommendations-actions" type="submit" name="regenerate-btn">Regenerate</button>
    <div id="message-container"></div>
  </div>
  </form>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    // Store variables needed to construct API call
    const apiUrl = 'https://app.ticketmaster.com/discovery/v2/events';
    var ticketmasterKey = 'HiDTN23YtaND8fPkw9DOmTsd8yhzRFfg';
    var genres = {{ genres | tojson }};
    console.log(genres);

    function fetchEventData() {
      const url = `${apiUrl}?apikey=${ticketmasterKey}&keyword=Rock&city=Dublin`;
    
      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          displayEventData(data);
        })
        .catch(error => {
          console.error('There was a problem fetching event data:', error);
        });
    }
    
    function displayEventData(data) {
      const events = data._embedded.events;

      const tableBody = document.getElementById('events-table-body');
      tableBody.innerHTML = '';

      events.forEach(event => {
        const eventName = event.name;
        const eventDate = event.dates.start.localDate;
        const venueName = event._embedded.venues[0].name;
        const eventUrl = event.url;
    
        console.log(`Event: ${eventName}, Date: ${eventDate}, Venue: ${venueName}`);

        const row = document.createElement('tr');
    
        const nameCell = document.createElement('td');
        nameCell.textContent = eventName;
        row.appendChild(nameCell);

        const dateCell = document.createElement('td');
        dateCell.textContent = eventDate;
        row.appendChild(dateCell);

        const venueCell = document.createElement('td');
        venueCell.textContent = venueName;
        row.appendChild(venueCell);

        const buttonCell = document.createElement('td');
        const button = document.createElement('button');
        button.textContent = 'View Event';
        button.onclick = function() {
          window.open(eventUrl, '_blank');
        };
        button.id = 'listen-button';
        buttonCell.appendChild(button);
        row.appendChild(buttonCell);

        tableBody.appendChild(row);
      });
    }

    fetchEventData();



 
    // Handling recommendation regeneraton with an asynchronous AJAX call
    $(document).ready(function() {
      $('.recommendations-actions').click(function(e) {
        e.preventDefault(); 
        var buttonName = $(this).attr('name');
        if (buttonName === 'regenerate-btn') {
          $('#loading-screen').show();
        }
        var id = "{{ id }}";
        var formData = $('#playlist-form').serialize() + '&' + buttonName + '=1&id=' + id;
        $.ajax({
          type: 'POST',
          url: '/create_playlist',
          data: formData,
          success: function(response) {
            if (buttonName === 'add-to-playlist-btn') {
              $('#message-container').text(response); 
            }
            else if (buttonName === 'regenerate-btn') {
              $('#loading-screen').hide();
              var id = response.id;
              var recommendations_dict = response.recommendations_dict;
              var song_ids_list = response.song_ids_list;
              updateTable(recommendations_dict, song_ids_list);
            }
          },
          error: function(error) {
            console.error('Error:', error);
          }
        });
      });
    });

    // Update recommendations with response data
    function updateTable(recommendations_dict, song_ids_list) {
      $('#recommendations-table').empty();
      $('#recommendations-table').append('<tr><th>Artist Name</th><th>Song Name</th><th>Listen</th><th>Select</th></tr>');
      $.each(recommendations_dict, function(artist, song) {
          var id = song_ids_list[Object.keys(recommendations_dict).indexOf(artist)];
          var row = '<tr><td>' + artist + '</td><td>' + song + '</td><td><button type="button" id="listen-button" onclick="window.open(\'https://open.spotify.com/track/' + id + '\', \'_blank\')">Listen Here</button></td><td id="checkbox-td"><input id="checkbox" type="checkbox" name="song_ids[]" value="' + id + '"></td></tr>';
          $('#recommendations-table').append(row);
      });
    }


    // Event listeners for select/deselect all buttons
    var checkboxes = document.querySelectorAll('#checkbox');
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("select-all-btn").addEventListener("click", function() {
        checkboxes.forEach(function(checkbox) {
          checkbox.checked = true; 
        });
      });
    });

    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("deselect-all-btn").addEventListener("click", function() {
        checkboxes.forEach(function(checkbox) {
          checkbox.checked = false; 
        });
      });
    });

 </script>
</body>
</html>